*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix{
    content="";
    clear:both;
    display: table;
}

header{
    border:2px solid black;

}

.main_container{
    width: 80%;
    margin: auto;
}
.container{
    height: 800px;
    width: 100%;
    border: 2px dotted rgb(68, 0, 255);
}
.logo{
    height: 50px;
    background-color: #73dca6;
}
.links {
    height: 100px;
    background-color: #7575dc;
}
main.photo{
width: 100%;
height: 400px;
float: left;
background-color: rgb(199, 120, 120);

}
div.title{
    width: 100%;
    height: 100px;
    float: left;
    background-color: lightgray;
}